@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap')
*{
    margin: 0;
    padding: 0; 
}
.hero{
    background-image: url('../images/cow.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    clip-path: polygon(25% 0%, 75% 0%, 100% 79%, 48% 100%, 49% 100%, 0 77%);

}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 700;
    font-family: cursive;
    word-spacing: 40px;
    letter-spacing: 20px;
    padding-top: 60px;
}

.article , #cow-type{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-top: 60px;
    margin-bottom: 60px;
    /* background-color: rgba(21, 194, 194, 0.683); */
    padding: 60px;
    /* border-width: 15px;
    border-color: yellow;
    border-style: groove; */
    /* background-color: blue; */
    background: linear-gradient(45deg, #ffcc00, #ff3399);
    /* background: linear-gradient(pink, blue); */


}
.article h2, #cow-type h2{
    text-align: center;
    color: rgb(97, 23, 10);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    border-width: 0px 0px 2px 0px;
    border-color: yellow;
    border-style: solid;
}
.article p{
    font-size: 18px;
    line-height: 2em;
}
.article p .imp{
    font-size: 2em;
    /* background-color: yellow;
    display: inline-block;
     width: 600px; */
}
.cow-flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
/* .cow-flex div{
    min-width: 300px;
} */
.cow-flex img{
    width: 300px;;
}
