@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap')
*{
    margin: 0;
    padding: 0; 
}
.hero{
    background-image: url('../images/cow.jpg');
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
}
.hero h1{
    color: azure;
    font-size: 100px;
    text-align: center;
    font-weight: 700;
    font-family: cursive;
    word-spacing: 40px;
    letter-spacing: 20px;
    padding-top: 60px;
}

.article , #cow-type{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: rgba(21, 194, 194, 0.683);
    padding: 60px;
    border-width: 15px;
    border-color: yellow;
    border-style: groove;
}
.article h2{
    text-align: center;
    color: rgb(97, 23, 10);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    border-width: 4px;
    border-color: yellow;
    border-style: solid;
}
.article p{
    font-size: 18px;
    line-height: 2em;
}
.article p .imp{
    font-size: 2em;
    /* background-color: yellow;
    display: inline-block;
     width: 600px; */
}